<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Directory HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../../assets/bootstrap.min.css">
            <link rel="stylesheet" href="../../assets/owl.carousel.min.css">
            <link rel="stylesheet" href="../../assets/slicknav.css">
            <link rel="stylesheet" href="../../assets/flaticon.css">
            <link rel="stylesheet" href="../../assets/animate.min.css">
            <link rel="stylesheet" href="../../assets/magnific-popup.css">
            <link rel="stylesheet" href="../../assets/fontawesome-all.min.css">
            <link rel="stylesheet" href="../../assets/themify-icons.css">
            <link rel="stylesheet" href="../../assets/slick.css">
            <link rel="stylesheet" href="../../assets/nice-select.css">
            <link rel="stylesheet" href="../../assets/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../assets/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <main>
      <div class= "main-content">
        <div class="top-content">
          <%= link_to image_tag("logo/logo.png"), root_path %>
        </div>
      <div class="login-container">
        <div class="avatar"></div>
        <%= form_with model: @user, url: user_registration_path, class: 'form-box', local: true do |f| %>
          <%= devise_error_messages! %>
          
          <%= f.text_field :nickname, autofocus: true, maxlength: "6", placeholder:"nickname" %>

          <%= f.email_field :email, placeholder:"Email" %>

          <%= f.password_field :password, autocomplete: "off", placeholder:"Password" %>

          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Password_confirmation" %>
        
          <%= f.submit "新規登録" %>

          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> Password characters minimum</em>
          <% end %><br />

          <em>6 Nickname characters maximum</em>
        <% end %>
      </div>
      </div>
    </main>

    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../../assets/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../../assets/vendor/jquery-1.12.4.min.js"></script>
        <script src="../../assets/popper.min.js"></script>
        <script src="../../assets/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../../assets/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../../assets/owl.carousel.min.js"></script>
        <script src="../../assets/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="../../assets/wow.min.js"></script>
		<script src="../../assets/animated.headline.js"></script>
        <script src="../../assets/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="../../assets/jquery.nice-select.min.js"></script>
		<script src="../../assets/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="../../assets/contact.js"></script>
        <script src="../../assets/jquery.form.js"></script>
        <script src="../../assets/jquery.validate.min.js"></script>
        <script src="../../assets/mail-script.js"></script>
        <script src="../../assets/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../../assets/plugins.js"></script>
        <script src="../../assets/main.js"></script>
        
    </body>
</html>
